*.pyc
dist
__pycache__
.coverage
.*.swp
README.rst
w/*
byexample.egg-info
todo
.fnames.tmp
.flinks.tmp
test/ds/some.log
test/ds/django.conf
test/ds/args
prof-traces
.release-notes
.workflow-log
test/ds/good.args
